
<div class="user pull-right">

	<div class="item dropdown" uib-dropdown>
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle> 
			<i class="fa fa-user fa-lg"></i>
		</a>	
		<ul class="dropdown-menu dropdown-menu-right">
			<li class="dropdown-header">
				<center>
					Usuário <br>
					<b>{{headerNotificationCtrl.usuario.nome}}</b></li>
				</center>
			<ul class="list-group">
				 <a class="list-group-item">
				  	Conta
				  </a>
				  <a class="list-group-item" ng-click="headerNotificationCtrl.logout()">
					Sair </a>
			</ul>

		</ul>
	</div>
	
	<div class="item dropdown" uib-dropdown access-view="ROLE_ADMINISTRATORS">
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle> <i
			class="fa fa-bell fa-lg"></i>
			 <span ng-show = "headerNotificationCtrl.temNiveisAtrasados()" class="label label-warning number-notification">
			 	{{headerNotificationCtrl.atrasados.length}}
			 </span>
		</a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li class="dropdown-header"><b>{{headerNotificationCtrl.temNiveisAtrasados()? 'Níveis Atrasados': 'Notificações'}}</b></li>
			<div ng-show = "headerNotificationCtrl.temNiveisAtrasados()">
				<ul class="list-group" ng-repeat="nivelAluno in headerNotificationCtrl.atrasados">
				  <a class="list-group-item" ng-click = "headerNotificationCtrl.abrirAdmissoes(nivelAluno.matricula)">
				  	<span class="badge alert-warning">{{nivelAluno.prazoConclusao | date : "dd/MM/yyyy"}}</span>
				  	{{nivelAluno.matricula}}
				  </a>
				</ul>
			</div>
			<div ng-show = "!headerNotificationCtrl.temNiveisAtrasados()">
				<ul class="list-group">
					 <a class="list-group-item">
					  	Nenhuma Notificação
					  </a>

				</ul>
			</div>
		</ul>
	</div>
</div>
