<div class="modal-header">
	<button type="button" class="close" aria-label="Close"
		ng-click="$ctrl.close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ $ctrl.label }}</h4>
</div>