    <section class="content-header">
      <h1 >{{pageTitle}}</h1>
      
      <ol class="breadcrumb">
        <li><a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active" update-title>{{pageTitle}}</li>
      </ol>
    </section>