<!DOCTYPE html>
<html ng-app="sge">

<head>
     <title update-title>{{pageTitle}}</title>           
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     
	<link rel="icon" type="image/png" href="img/favicon.png">
	<meta name="msapplication-TileImage" content="img/favicon.png">
	<meta name="msapplication-TileColor" content="#367fa9">
	<meta name="theme-color" content="#367fa9">
    
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap.min.css" /> 	
    <link rel="stylesheet" type="text/css" href="css/sge.css" />
    <link rel="stylesheet" type="text/css" href="plugins/iCheck/all.css" />
    <link rel="stylesheet" type="text/css" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/angular-growl/css/angular-growl.css" />
    <link rel="stylesheet" type="text/css" href="plugins/angular-datatables/css/angular-datatables.css" />
    <link rel="stylesheet" type="text/css" href="plugins/angular-datatables/css/datatables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/editor-markdown/simplemde.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/angular-loading-bar/loading-bar.min.css" media='all' />

    <script type="text/javascript" src="plugins/jquery/js/jquery.min.js" /></script>
    <script type="text/javascript" src="plugins/iCheck/icheck.min.js" /></script>
    <script type="text/javascript" src="plugins/jquery-datatables/js/jquery.dataTables.js" /></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.js" /></script>
    <script type="text/javascript" src="plugins/angularjs/js/angular.js" /></script>
    <script type="text/javascript" src="plugins/angularjs/js/angular-animate.js" /></script>
    <script type="text/javascript" src="plugins/angular-ui-router/js/angular-ui-router.js" /></script>
    <script type="text/javascript" src="plugins/angular-datatables/js/angular-datatables.js" /></script>
    <script type="text/javascript" src="plugins/angular-datatables/js/angular-datatables.bootstrap.js" /></script>
    <script type="text/javascript" src="plugins/oclazyload/js/ocLazyLoad.js" /></script>
    <script type="text/javascript" src="plugins/angular-ui/js/ui-bootstrap-tpls-2.1.3.js" /></script>
    <script type="text/javascript" src="plugins/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="plugins/editor-markdown/simplemde.min.js" /></script>
    <script type="text/javascript" src="plugins/angular-growl/js/angular-growl.js" /></script>
    <script type="text/javascript" src="plugins/hyperactive/js/date.directive.js" /></script>
    <script type="text/javascript" src="plugins/hyperactive/js/numbers-only.directive.js" /></script>
    <script type="text/javascript" src="plugins/hyperactive/js/access.directive.js" /></script>
    <script type="text/javascript" src="plugins/hyperactive/js/title-page.directive.js" /></script>
    <script type="text/javascript" src="plugins/hyperactive/js/icheck.directive.js" /></script>
    <script type="text/javascript" src="plugins/hyperactive/js/simplemde-angular.js" /></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="plugins/angular-youtube-embed/angular-youtube-embed.js" /></script>
    <script type="text/javascript" src="plugins/angular-loading-bar/loading-bar.min.js" /></script>
    
    <script type="text/javascript" src="js/sge.module.js"/></script>
    <script type="text/javascript" src="js/sge.route.js" charset="UTF-8" /></script>
    <script type="text/javascript" src="js/sge.value.js" charset="UTF-8" /></script>
    <script type="text/javascript" src="js/config/loading-bar.config.js" charset="UTF-8" /></script>
    <script type="text/javascript" src="js/config/datatables.config.js" charset="UTF-8" /></script>
    <script type="text/javascript" src="js/config/growl-message.config.js" charset="UTF-8" /></script>
    <script type="text/javascript" src="components/public/services/authentication.service.js" charset="UTF-8" /></script>
    <script type="text/javascript" src="components/public/login/index.controller.js" charset="UTF-8" /></script>
    <script type="text/javascript" src="components/public/services/httpinterceptor.service.js" charset="UTF-8" /></script>


<!--     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-mocks.js"></script>
    <script type="text/javascript" src="js/fakebackend.mock.js" /></script>
 -->
</head>

<body>
	<div id="loading-bar-container"></div>
    <div growl></div>
    <div ui-view></div>
</body>

</html>
