<div class="row">
	<div class="col-lg-12">
		<div class="dataTable_wrapper">
			<p>
				<button type="button" class="btn btn-primary"
					ng-click="clienteCtrl.adicionarItem()" access="ROLE_ADMINISTRATORS">Novo
					Cliente</button>
			</p>
			<table datatable="ng" dt-options="clienteCtrl.dtOptions"
				dt-column-defs="clienteCtrl.dtColumnDefs"
				class="table table-striped table-bordered table-hover"
				id="dtCliente">
				<thead>
					<tr>
						<th>Ações</th>
						<th>CPF/CNPJ</th>
						<th>Descrição</th>
						<th>Tipo</th>						
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeX" ng-repeat="cliente in clienteCtrl.clientes">
						<td>
							<button type="button" ng-click="clienteCtrl.editarItem(cliente)"
								class="btn btn-xs btn-default" access="ROLE_ADMINISTRATORS">
								<i class='fa fa-edit'></i>
							</button>
						</td>
						<td>{{cliente.codigo}}</td>
						<td>{{cliente.descricao}}</td>
						<td>{{cliente.tipo | tipoPessoa}}</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>