<div class="modal-header">
	<button type="button" ng-click="clienteMCtrl.cancelar()" class="close"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{clienteMCtrl.titulo}}</h4>
</div>
<form name="clienteForm"
	ng-submit="clienteForm.$valid && clienteMCtrl.salvar()" role="form"
	novalidate>
	<div class="modal-body" id="modal-body">
		<div class="form-group">
			<label>Tipo de Pessoa</label> <label class="radio-inline"> <input
				type="radio" name="tipoFisica" ng-model="clienteMCtrl.item.tipo"
				ng-change="clienteMCtrl.mudarRadio(clienteMCtrl.item.tipo)"
				id="rbTipoPessoaFisica" value="F" checked>Física
			</label> <label class="radio-inline"> <input type="radio"
				ng-model="clienteMCtrl.item.tipo"
				ng-change="clienteMCtrl.mudarRadio(clienteMCtrl.item.tipo)"
				name="tipoJuridica" id="rbTipoPessoaJuridica" value="J">Jurídica
			</label>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error': clienteForm.$submitted && clienteForm.codigo.$invalid }">
			<label class="control-label" for="tCodigoCliente">{{clienteMCtrl.descCodigo}}*</label>
			<input name="codigo" ng-model="clienteMCtrl.item.codigo" type="text"
				class="form-control" placeholder="{{clienteMCtrl.descCodigo}}"
				required autofocus/>
			<div ng-show="clienteForm.$submitted && clienteForm.codigo.$invalid"
				class="help-block">{{clienteMCtrl.descCodigo}} é Requerido</div>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error': clienteForm.$submitted && clienteForm.descricao.$invalid }">
			<label class="control-label" for="tDescricaoCliente">Descrição*</label>
			<input name="descricao" ng-model="clienteMCtrl.item.descricao"
				type="text" class="form-control" placeholder="Descrição"
				required />
			<div
				ng-show="clienteForm.$submitted && clienteForm.descricao.$invalid"
				class="help-block">Descrição é Requerida</div>
		</div>
	</div>
	<div class="modal-footer">
		<input class="btn btn-primary" type="submit" value="Salvar" />
		<button class="btn btn-warning" type="button"
			ng-click="clienteMCtrl.cancelar()">Cancelar</button>
	</div>
</form>
<div class="overlay" ng-show="clienteMCtrl.loading">
	<i class="fa fa-refresh fa-spin"></i>
</div>
