<div class="row">
	<div class="col-lg-12">
		<div class="dataTable_wrapper">
			<table datatable="ng" dt-options="nivelAlunoCtrl.dtOptions"
				dt-column-defs="nivelAlunoCtrl.dtColumnDefs"
				class="table table-striped table-bordered table-hover" id="dtNivel">
				<thead>
					<tr>
						<th width="15%">Ações</th>
						<th width="15%">id</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeX"
						ng-repeat="nivelAluno in nivelAlunoCtrl.niveisAluno">
						<td>
							<button type="button"
								ng-click="nivelAlunoCtrl.detailNivel(nivelAluno)"
								title="Detalhes" data-toggle="tooltip"
								class="btn btn-xs btn-primary">
								<i class='fa fa-search'></i>
							</button>
						</td>
						<td>{{nivelAluno.id}}</td>
						<td>{{nivelAluno.nivel.descricao}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
