<div class="row">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="row box-topic">
				<div class="col-md-6">
					<div>
						<label>Descrição </label>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<label>Prazo </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div>
						{{nivelADCtrl.nivelAluno.nivel.descricao}}</div>
				</div>
				<div class="col-md-6">
					<div>
						{{nivelADCtrl.nivelAluno.prazoConclusao | date : "dd/MM/yyyy"}}</div>
				</div>
			</div>
			<br>
			<div class="row box-topic">
				<div class="col-md-12">
					<div class="pull-left">
						<label>Treinamentos </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="well"
						ng-show="!nivelADCtrl.nivelAluno.treinamentos.length">Nenhum
						treinamento associado.</div>

					<table class="table"
						ng-show="nivelADCtrl.nivelAluno.treinamentos.length">
						<thead>
							<tr>
								<th width="30%">Título</th>
								<th width="40%">Descrição</th>
								<th width="10%">Finalizado</th>
								<th width="8%"></th>
								<th width="8%"></th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX" ng-repeat="treinamentoAlocado in nivelADCtrl.nivelAluno.treinamentos">
								<td>{{treinamentoAlocado.treinamento.titulo}}</td>
								<td>{{treinamentoAlocado.treinamento.descricao}}</td>
								<td><span ng-class="{'label label-danger': !treinamentoAlocado.finalizado, 
													'label label-success': treinamentoAlocado.finalizado}">{{treinamentoAlocado.finalizado? 'Sim': 'Não'}}</span></td>
								<td ng-show="!treinamentoAlocado.finalizado">
									<button type="button" title="Responder Prova"
										ng-click="nivelADCtrl.abrirDetalhesProva(treinamentoAlocado)"
										data-toggle="tooltip" class="btn btn-flat btn-xs btn-success">
										<i class='fa fa-pencil'></i> Responder Prova
									</button>
								</td>
				
								<td>
									<button type="button" title="Começar treinamento"
										ng-click="nivelADCtrl.abrirDetalhesTreinamento(treinamentoAlocado)"
										data-toggle="tooltip" class="btn btn-flat btn-xs btn-success">
										<i class='fa fa-play'></i> {{treinamentoAlocado.finalizado? 'Ver treinamento': 'Iniciar Treinamento'}}
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
