<div ng-controller="SidebarCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
	
	<div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            	<span>SGE</span>
            <span class="menu-icon fa fa-bars"></span>
          </a>
        </li>
		
        <li class="sidebar-list">
          <a ui-sref="home.dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list" ui-sref-active="active">
            <a ui-sref="home.demanda"><i class="menu-icon fa fa-table fa-fw"></i> Demandas</a>
        </li>
        <li class="sidebar-list" access-view="ROLE_ADMINISTRATORS">
            <a ui-sref="home.aluno"><i class="menu-icon fa fa-address-card fa-fw"></i> Alunos</a>
        </li>
        <li class="sidebar-list" access-view="ROLE_ADMINISTRATORS">
            <a ui-sref="home.cliente"><i class="menu-icon fa fa-trophy fa-fw"></i> Clientes</a>
        </li>
        <li class="sidebar-list" access-view="ROLE_ADMINISTRATORS">
            <a ui-sref="home.nivel"><i class="menu-icon fa fa-signal fa-fw"></i> Níveis</a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="home.nivelAluno"><i class="menu-icon fa fa-star fa-fw"></i> Meus Níveis</a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="home.treinamento"><i class="menu-icon fa fa-rocket fa-fw"></i> Treinamentos</a>
        </li>
        <li class="sidebar-list" access-view="ROLE_ADMINISTRATORS">
            <a ui-sref="home.prova"><i class="menu-icon fa fa-file-text fa-fw"></i> Provas</a>
        </li>
      </ul>
      
      <div class="sidebar-footer">
        <div class="col-xs-6">
          <a href="https://github.com/hyperactiveJR" target="_blank">
            <i class="fa fa-info-circle"></i> Sobre
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#">
            <i class="fa fa-question-circle"></i> Ajuda
          </a>
        </div>
      </div>
    </div>
	
    <div id="content-wrapper">
      <div class="page-content">

        <header></header>
        
        <page-header></page-header>

        <!-- Main Content -->
        <div ui-view></div>

      </div>
    </div>
  </div>
</div>