
<div class="row">
	<div class="col-lg-12">
		<div class="callout callout-warning">
			<h4>Ainda não implementado</h4>
	
			<p>Aqui será o painel com informações relevantes sobre a Empresa</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<widget>
			<widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Alunos</div>
			</widget-body>
		</widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<widget>
			<widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-rocket"></i>
				</div>
				<div class="title">16</div>
				<div class="comment">Treinametos</div>
			</widget-body>
		</widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<widget>
			<widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">13</div>
				<div class="comment">Níveis</div>
			</widget-body>
		</widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<widget>
			<widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">12</div>
				<div class="comment">Demandas</div>
			</widget-body>
		</widget>
	</div>
</div>