<div class="row">
	<div class="col-lg-12">
		<div class="dataTable_wrapper">
			<table datatable="ng" dt-options="alunoCtrl.dtOptions"
				dt-column-defs="alunoCtrl.dtColumnDefs"
				class="table table-striped table-bordered table-hover" id="tbAlunos">
				<thead>
					<tr>
						<th width="8%">Ações</th>
						<th>Matrícula</th>
						<th>Nome</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeX" ng-repeat="aluno in alunoCtrl.alunos">
						<td>
							<button type="button" ng-click="alunoCtrl.abrirAdmissoes(aluno)"
								class="btn btn-xs btn-primary" access="ROLE_ADMINISTRATORS">
								<i class='fa fa-search'></i>
							</button>
						</td>
						<td>{{aluno.matricula}}</td>
						<td>{{aluno.nome}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
