@import url('https://fonts.googleapis.com/css?family=Roboto');

/* CSS CRIADOS HYPERACTIVE JS */
.sge-center-div {
	text-align: center;
}

.sge-cabecalho-cont {
	margin-bottom: 20px;
	font-size: 18px;
}

.sge-tab-conteudo {
	margin-top: 120px;
	margin-bottom: 160px;
}

.sge-text-uppercase {
	text-transform: uppercase;
}

.sge-btn-custom {
	font-size: 22px;
}

.sge-txt-danger {
	color: #a94442;
}

.sge-check-space {
	margin-bottom: 20px;
}

.sge-progress {
	height: 50%
}

a.inline {
	display: inline;
	margin: 5px;
}

button.inline {
	display: inline;
	margin: 5px;
}

a {
	cursor: pointer;
}

a.custom-link {
	text-decoration: none;
	color: #313131;
}

.sge-txt-area-alt {
	margin-left: 10px;
	margin-top: 5px;
}

.sge-btn-fixed {
	width: 86px;
}

.sge-has-error-editor .CodeMirror {
	border: 1px solid #a94442;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.pull-left-progress {
	float: left !important;
	width: 70%
}

.sge-tag {
	font-size: 14px;
	font-style: none;
	padding: 1px;
}

.sge-well-position {
	margin-top: 10px;
	margin-bottom: 20px;
}

.sge-label-question {
	margin-top: 5px;
}

.sge-well-error {
	border: 1px solid #a94442;
}

/* tabela de prev de video */
.noHeader thead {
	display: none;
}

/* MODAL OVERLAY */
.modal-content .overlay, .overlay-wrapper .overlay {
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
}

.modal-content>.overlay, .overlay-wrapper>.overlay, .modal>.loading-img,
	.overlay-wrapper>.loading-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-content .overlay {
	z-index: 1010;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
}

.modal-content .overlay>.fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px;
}

.modal-content .overlay.dark {
	background: rgba(0, 0, 0, 0.5);
}

/* LOADING BAR COLOR */
#loading-bar, #loading-bar-spinner {
	pointer-events: none;
	-webkit-pointer-events: none;
	-webkit-transition: 350ms linear all;
	-moz-transition: 350ms linear all;
	-o-transition: 350ms linear all;
	transition: 350ms linear all;
}

#loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active,
	#loading-bar-spinner.ng-enter, #loading-bar-spinner.ng-leave.ng-leave-active
	{
	opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave,
	#loading-bar-spinner.ng-enter.ng-enter-active, #loading-bar-spinner.ng-leave
	{
	opacity: 1;
}

#loading-bar .bar {
	-webkit-transition: width 350ms;
	-moz-transition: width 350ms;
	-o-transition: width 350ms;
	transition: width 350ms;
	background: #000000 !important;
	position: fixed;
	z-index: 10002;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px !important;
	border-bottom-right-radius: 1px;
	border-top-right-radius: 1px;
}

/*
 * Page: Login
 * ----------------------
 */
.login-logo {
	font-size: 32px;
	text-align: center;
	margin-top: 35%;
	font-weight: 300;
}

.login-panel {
	margin-top: 10%;
}

/*
 * componente: Box
 * ----------------------
 */
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding-bottom: 15px;
}

.box-topic {
	padding-top: 15px;
}

.box.box-primary {
	border-top-color: #3c8dbc;
}

.box.box-info {
	border-top-color: #00c0ef;
}

.box.box-danger {
	border-top-color: #dd4b39;
}

.box.box-warning {
	border-top-color: #f39c12;
}

.box.box-success {
	border-top-color: #00a65a;
}

.box.box-default {
	border-top-color: #d2d6de;
}

.box.box-solid>.box-header .btn.btn-default {
	background: transparent;
}

.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover
	{
	background: rgba(0, 0, 0, 0.1);
}

.box.box-solid.box-default {
	border: 1px solid #d2d6de;
}

.box.box-solid.box-default>.box-header {
	color: #444444;
	background: #d2d6de;
	background-color: #d2d6de;
}

.box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn
	{
	color: #444444;
}

.box.box-solid.box-primary {
	border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary>.box-header {
	color: #ffffff;
	background: #3c8dbc;
	background-color: #3c8dbc;
}

.box.box-solid.box-primary>.box-header a, .box.box-solid.box-primary>.box-header .btn
	{
	color: #ffffff;
}

.box.box-solid.box-info {
	border: 1px solid #00c0ef;
}

.box.box-solid.box-info>.box-header {
	color: #ffffff;
	background: #00c0ef;
	background-color: #00c0ef;
}

.box.box-solid.box-info>.box-header a, .box.box-solid.box-info>.box-header .btn
	{
	color: #ffffff;
}

.box.box-solid.box-danger {
	border: 1px solid #dd4b39;
}

.box.box-solid.box-danger>.box-header {
	color: #ffffff;
	background: #dd4b39;
	background-color: #dd4b39;
}

.box.box-solid.box-danger>.box-header a, .box.box-solid.box-danger>.box-header .btn
	{
	color: #ffffff;
}

.box.box-solid.box-warning {
	border: 1px solid #f39c12;
}

.box.box-solid.box-warning>.box-header {
	color: #ffffff;
	background: #f39c12;
	background-color: #f39c12;
}

.box.box-solid.box-warning>.box-header a, .box.box-solid.box-warning>.box-header .btn
	{
	color: #ffffff;
}

.box.box-solid.box-success {
	border: 1px solid #00a65a;
}

.box.box-solid.box-success>.box-header {
	color: #ffffff;
	background: #00a65a;
	background-color: #00a65a;
}

.box.box-solid.box-success>.box-header a, .box.box-solid.box-success>.box-header .btn
	{
	color: #ffffff;
}

.box.box-solid>.box-header>.box-tools .btn {
	border: 0;
	box-shadow: none;
}

.box.box-solid[class*='bg']>.box-header {
	color: #fff;
}

.box .box-group>.box {
	margin-bottom: 5px;
}

.box .knob-label {
	text-align: center;
	color: #333;
	font-weight: 100;
	font-size: 12px;
	margin-bottom: 0.3em;
}

.box>.overlay, .overlay-wrapper>.overlay, .box>.loading-img,
	.overlay-wrapper>.loading-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box .overlay, .overlay-wrapper .overlay {
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px;
}

.box .overlay.dark, .overlay-wrapper .overlay.dark {
	background: rgba(0, 0, 0, 0.5);
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after,
	.box-body:after, .box-footer:after {
	content: " ";
	display: table;
}

.box-header:after, .box-body:after, .box-footer:after {
	clear: both;
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #ffffff;
}

.collapsed-box .box-header.with-border {
	border-bottom: none;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title
	{
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
	margin-right: 5px;
}

.box-header>.box-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}

.box-header>.box-tools [data-toggle="tooltip"] {
	position: relative;
}

.box-header>.box-tools.pull-right .dropdown-menu {
	right: 0;
	left: auto;
}

.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
	border-bottom: none;
}

/*
 * Component: Button
 * -----------------
 */
.btn {
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid transparent;
}

.btn.uppercase {
	text-transform: uppercase;
}

.btn.btn-flat {
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
}

.btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:focus {
	outline: none;
}

.btn.btn-file {
	position: relative;
	overflow: hidden;
}

.btn.btn-file>input[type='file'] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	opacity: 0;
	filter: alpha(opacity = 0);
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn-default {
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
	background-color: #e7e7e7;
}

.btn-primary {
	background-color: #3c8dbc;
	border-color: #367fa9;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
	background-color: #367fa9;
}

.btn-success {
	background-color: #00a65a;
	border-color: #008d4c;
}

.btn-success:hover, .btn-success:active, .btn-success.hover {
	background-color: #008d4c;
}

.btn-info {
	background-color: #00c0ef;
	border-color: #00acd6;
}

.btn-info:hover, .btn-info:active, .btn-info.hover {
	background-color: #00acd6;
}

.btn-danger {
	background-color: #dd4b39;
	border-color: #d73925;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.hover {
	background-color: #d73925;
}

.btn-warning {
	background-color: #f39c12;
	border-color: #e08e0b;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.hover {
	background-color: #e08e0b;
}

.btn-outline {
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
	color: rgba(255, 255, 255, 0.7);
	border-color: rgba(255, 255, 255, 0.7);
}

.btn-link {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn[class*='bg-']:hover {
	-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.btn-app {
	border-radius: 3px;
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	font-size: 12px;
}

.btn-app>.fa, .btn-app>.glyphicon, .btn-app>.ion {
	font-size: 20px;
	display: block;
}

.btn-app:hover {
	background: #f4f4f4;
	color: #444;
	border-color: #aaa;
}

.btn-app:active, .btn-app:focus {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-app>.badge {
	position: absolute;
	top: -3px;
	right: -10px;
	font-size: 10px;
	font-weight: 400;
}

.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled,
	table.dataTable thead .sorting_desc_disabled {
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50, 50, 50, .5);
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}

.show-grid {
	margin: 15px 0;
}

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red a {
	color: #d9534f;
}

.panel-red a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}

/* LAYOUT */
#content-wrapper {
	padding-left: 0;
	margin-left: 0;
	width: 100%;
	height: auto;
}

@media only screen and (min-width: 561px) {
	#page-wrapper.open {
		padding-left: 250px;
	}
}

@media only screen and (max-width: 560px) {
	#page-wrapper.open {
		padding-left: 70px;
	}
}

#page-wrapper.open #sidebar-wrapper {
	left: 150px;
}

/**
 * Hamburg Menu
 * When the class of 'hamburg' is applied to the body tag of the document, 
 * the sidebar changes it's style to attempt to mimic a menu on a phone app,
 * where the content is overlaying the content, rather than push it.
 */
@media only screen and (max-width: 560px) {
	body.hamburg #page-wrapper {
		padding-left: 0;
	}
	body.hamburg #page-wrapper:not (.open ) #sidebar-wrapper {
		position: absolute;
		left: -100px;
	}
	body.hamburg #page-wrapper:not (.open ) ul.sidebar .sidebar-title.separator
		{
		display: none;
	}
	body.hamburg #page-wrapper.open #sidebar-wrapper {
		position: fixed;
	}
	body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main
		{
		margin-left: 0px;
	}
	body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main, body.hamburg .row.header .meta
		{
		margin-left: 70px;
	}
	body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main, body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main
		{
		transition: margin-left 0.4s ease 0s;
	}
}

/**
 * Header
 */
.row.header {
	height: 50px;
	background: #3c8dbc;
	margin-bottom: 8px;
}

.row.header>div:last-child {
	padding-right: 0;
}

.row.header .meta .page {
	color: #fff;
	font-size: 32px;
	padding-top: 3px;
}

.row.header .meta .breadcrumb-links {
	font-size: 10px;
}

.row.header .meta div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row.header .login a {
	padding: 18px;
	display: block;
}

.row.header .user {
	min-width: 130px;
}

.row.header .user>.item {
	width: 60px;
	height: 50px;
	float: right;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	float: right;
}

.row.header .user>.item .number-notification {
	font-size: 10px;
	text-decoration: none;
	font-weight: normal;
}

.row.header .user>.item a {
	color: #919191;
	display: block;
}

.row.header .user>.item .list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-right: none;
	border-left: none;
}

.row.header .user>.item  .list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

.row.header .user>.item i {
	color: #fff;
	line-height: 50px;
}

.row.header .user>.item ul.dropdown-menu {
	border-radius: 2px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
	width: 280px;
	padding: 0 0 0 0;
	margin: 0;
	top: 100%;
}

.row.header .user>.item ul.dropdown-menu .dropdown-header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	padding: 7px 10px;
	color: #444444;
	font-size: 14px;
}

.row.header .user>.item ul.dropdown-menu .dropdown-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #ddd;
  color: #444 !important;
  text-align: center;
}

.row.header .user>.item ul.dropdown-menu li.link {
	text-align: left;
}

.row.header .user>.item ul.dropdown-menu li.link a {
	padding-left: 7px;
	padding-right: 7px;
}

.row.header .user>.item ul.dropdown-menu:before {
	position: absolute;
	top: -7px;
	right: 23px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	content: '';
}

.row.header .user>.item ul.dropdown-menu:after {
	position: absolute;
	top: -6px;
	right: 24px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

.loading {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2s infinite ease-in-out;
	animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

@
-webkit-keyframes bounce { 0%, 100% {
	-webkit-transform: scale(0);
}

50%
{
-webkit-transform


























































































































































:













































































 













































































scale


























































































































































(1);
}
}
@
keyframes bounce { 0%, 100% {
	transform: scale(0);
	-webkit-transform: scale(0);
}

50%
{
transform


























































































































































:













































































 













































































scale


























































































































































(1);
-webkit-transform


























































































































































:













































































 













































































scale


























































































































































(1);
}
}

/* Base */
html {
	overflow-y: scroll;
}

body {
	background: #f3f3f3;
	font-family: "Roboto";
	color: #333333 !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.alerts-container .alert:last-child {
	margin-bottom: 0;
}

#page-wrapper {
	padding-left: 70px;
	height: 100%;
}

#sidebar-wrapper {
	margin-left: -150px;
	left: -30px;
	width: 250px;
	position: fixed;
	height: 100%;
	z-index: 999;
}

#page-wrapper, #sidebar-wrapper {
	transition: all .4s ease 0s;
}

.green {
	background: #23ae89 !important;
}

.blue {
	background: #2361ae !important;
}

.orange {
	background: #d3a938 !important;
}

.red {
	background: #ae2323 !important;
}

.black {
	background: #242526 !important;
}

.form-group .help-block.form-group-inline-message {
	padding-top: 5px;
}

div.input-mask {
	padding-top: 7px;
}

/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */
/**
 * Sidebar
 */
#sidebar-wrapper {
	background: #292929;
}

ul.sidebar .sidebar-main a, .sidebar-footer, ul.sidebar .sidebar-list a:hover,
	#page-wrapper:not (.open ) ul.sidebar .sidebar-title.separator {
	/* Sidebar header and footer color */
	background: #3c8dbc;
}

ul.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	text-indent: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

ul.sidebar li a {
	color: #fff;
	display: block;
	float: left;
	text-decoration: none;
	width: 250px;
}

ul.sidebar .sidebar-main {
	height: 65px;
}

ul.sidebar .sidebar-main a {
	background: #367fa9;
	font-size: 18px;
	line-height: 50px;
}

ul.sidebar .sidebar-main i {
	font-weight: normal !important;
}

ul.sidebar .sidebar-main span {
	font-weight: bold;
	text-transform: uppercase;
}

ul.sidebar .sidebar-main a:hover {
	cursor: pointer;
}

ul.sidebar .sidebar-main .menu-icon {
	float: right;
	font-size: 18px;
	padding-right: 28px;
	line-height: 50px;
}

ul.sidebar .sidebar-title {
	color: #fff;
	font-size: 12px;
	height: 35px;
	line-height: 40px;
	text-transform: uppercase;
	transition: all .6s ease 0s;
}

ul.sidebar .sidebar-list {
	height: 40px;
}

ul.sidebar .sidebar-list a {
	text-indent: 25px;
	font-size: 15px;
	color: #d3d4d8;
	line-height: 40px;
}

ul.sidebar .sidebar-list a:hover {
	color: #fff;
	border-left: 3px solid #3c8dbc;
	text-indent: 22px;
}

ul.sidebar .sidebar-list a:hover .menu-icon {
	text-indent: 25px;
}

ul.sidebar .sidebar-list .menu-icon {
	float: right;
	padding-right: 29px;
	line-height: 40px;
	width: 70px;
}

#page-wrapper:not (.open ) ul.sidebar {
	bottom: 0;
}

#page-wrapper:not (.open ) ul.sidebar .sidebar-title {
	display: none;
	height: 0px;
	text-indent: -100px;
}

#page-wrapper:not (.open ) ul.sidebar .sidebar-title.separator {
	display: block;
	height: 2px;
	margin: 13px 0;
}

#page-wrapper:not (.open ) ul.sidebar .sidebar-list a:hover span {
	border-left: 3px solid #3c8dbc;
	text-indent: 22px;
}

#page-wrapper:not (.open ) .sidebar-footer {
	display: none;
}

.sidebar-footer {
	position: absolute;
	height: 40px;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	transition: all .6s ease 0s;
	text-align: center;
}

.sidebar-footer div a {
	color: #d3d4d8;
	font-size: 12px;
	line-height: 43px;
}

.sidebar-footer div a:hover {
	color: #ffffff;
	text-decoration: none;
}

/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */

/**
 * Widgets
 */
.widget {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background: #ffffff;
	border: 1px solid transparent;
	border-radius: 2px;
	border-color: #e9e9e9;
}

.widget .widget-header .pagination, .widget .widget-footer .pagination {
	margin: 0;
}

.widget .widget-header {
	color: #767676;
	background-color: #f6f6f6;
	padding: 10px 15px;
	border-bottom: 1px solid #e9e9e9;
	line-height: 30px;
}

.widget .widget-header i {
	margin-right: 5px;
}

.widget .widget-body {
	padding: 20px;
}

.widget .widget-body table thead {
	background: #fafafa;
}

.widget .widget-body table thead * {
	font-size: 14px !important;
}

.widget .widget-body table tbody * {
	font-size: 13px !important;
}

.widget .widget-body .error {
	color: #ff0000;
}

.widget .widget-body button {
	margin-left: 5px;
}

.widget .widget-body div.alert {
	margin-bottom: 10px;
}

.widget .widget-body.large {
	height: 350px;
	overflow-y: auto;
}

.widget .widget-body.medium {
	height: 250px;
	overflow-y: auto;
}

.widget .widget-body.small {
	height: 150px;
	overflow-y: auto;
}

.widget .widget-body.no-padding {
	padding: 0;
}

.widget .widget-body.no-padding .error, .widget .widget-body.no-padding .message
	{
	padding: 20px;
}

.widget .widget-footer {
	border-top: 1px solid #e9e9e9;
	padding: 10px;
}

.widget .widget-icon {
	background: #30426a;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	margin-right: 15px;
}

.widget .widget-icon i {
	line-height: 66px;
	color: #ffffff;
	font-size: 30px;
}

.widget .widget-footer {
	border-top: 1px solid #e9e9e9;
	padding: 10px;
}

.widget .widget-title .pagination, .widget .widget-footer .pagination {
	margin: 0;
}

.widget .widget-content .title {
	font-size: 28px;
	display: block;
}

/* Page Header */
.content-header {
	position: relative;
	padding: 15px 15px 0 15px;
	margin-bottom: 20px;
}

.content-header>h1 {
	margin: 0;
	font-size: 28px;
}

.content-header>h1>small {
	font-size: 15px;
	display: inline-block;
	padding-left: 4px;
	font-weight: 300;
}

.content-header>.breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	border-radius: 2px;
}

.content-header>.breadcrumb>li>a {
	color: #444;
	text-decoration: none;
	display: inline-block;
}

.content-header>.breadcrumb>li>a>.fa, .content-header>.breadcrumb>li>a>.glyphicon,
	.content-header>.breadcrumb>li>a>.ion {
	margin-right: 5px;
}

.content-header>.breadcrumb>li+li:before {
	content: '>\00a0';
}

@media ( max-width : 991px) {
	.content-header>.breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #d2d6de;
		padding-left: 10px;
	}
	.content-header>.breadcrumb li:before {
		color: #97a0b3;
	}
}

/* DATA TABLES JQUERY */
.dataTables_wrapper .dataTables_info {
	margin-left: 0rem;
}

div.dataTables_info {
	padding-top: 3px !important;
	padding-left: 0px;
}

.dataTables_wrapper {
	padding: 0 !important;
}

.dataTables_wrapper .row {
	margin-top: 20px;
	margin-bottom: -10px !important;
	margin-left: -15px !important;
	margin-right: -15px !important;
}

/*
 * Componente: Progress Bar
 * -----------------------
 */
.progress, .progress>.progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress, .progress>.progress-bar, .progress .progress-bar, .progress>.progress-bar .progress-bar
	{
	border-radius: 2px;
}
/* size variation */
.progress.sm, .progress-sm {
	height: 10px;
}

.progress.sm, .progress-sm, .progress.sm .progress-bar, .progress-sm .progress-bar
	{
	border-radius: 1px;
}

.progress.xs, .progress-xs {
	height: 7px;
}

.progress.xs, .progress-xs, .progress.xs .progress-bar, .progress-xs .progress-bar
	{
	border-radius: 1px;
}

.progress.xxs, .progress-xxs {
	height: 3px;
}

.progress.xxs, .progress-xxs, .progress.xxs .progress-bar, .progress-xxs .progress-bar
	{
	border-radius: 1px;
}
/* Vertical bars */
.progress.vertical {
	position: relative;
	width: 30px;
	height: 200px;
	display: inline-block;
	margin-right: 10px;
}

.progress.vertical>.progress-bar {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.progress.vertical.sm, .progress.vertical.progress-sm {
	width: 20px;
}

.progress.vertical.xs, .progress.vertical.progress-xs {
	width: 10px;
}

.progress.vertical.xxs, .progress.vertical.progress-xxs {
	width: 3px;
}

.progress-group .progress-text {
	font-weight: 550;
}

.progress-group .progress-number {
	float: right;
}
/* Remove margins from progress bars when put in a table */
.table tr>td .progress {
	margin: 0;
}

.progress-bar-light-blue, .progress-bar-primary {
	background-color: #3c8dbc;
}

.progress-striped .progress-bar-light-blue, .progress-striped .progress-bar-primary
	{
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-green, .progress-bar-success {
	background-color: #00a65a;
}

.progress-striped .progress-bar-green, .progress-striped .progress-bar-success
	{
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-aqua, .progress-bar-info {
	background-color: #00c0ef;
}

.progress-striped .progress-bar-aqua, .progress-striped .progress-bar-info
	{
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-yellow, .progress-bar-warning {
	background-color: #f39c12;
}

.progress-striped .progress-bar-yellow, .progress-striped .progress-bar-warning
	{
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-red, .progress-bar-danger {
	background-color: #dd4b39;
}

.progress-striped .progress-bar-red, .progress-striped .progress-bar-danger
	{
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/*
 * Componente: Button
 * -----------------
 */
.btn {
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid transparent;
}

.btn.uppercase {
	text-transform: uppercase;
}

.btn.btn-flat {
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
}

.btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:focus {
	outline: none;
}

.btn.btn-file {
	position: relative;
	overflow: hidden;
}

.btn.btn-file>input[type='file'] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	opacity: 0;
	filter: alpha(opacity = 0);
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn-default {
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
	background-color: #e7e7e7;
}

.btn-primary {
	background-color: #3c8dbc;
	border-color: #367fa9;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
	background-color: #367fa9;
}

.btn-success {
	background-color: #00a65a;
	border-color: #008d4c;
}

.btn-success:hover, .btn-success:active, .btn-success.hover {
	background-color: #008d4c;
}

.btn-info {
	background-color: #00c0ef;
	border-color: #00acd6;
}

.btn-info:hover, .btn-info:active, .btn-info.hover {
	background-color: #00acd6;
}

.btn-danger {
	background-color: #dd4b39;
	border-color: #d73925;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.hover {
	background-color: #d73925;
}

.btn-warning {
	background-color: #f39c12;
	border-color: #e08e0b;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.hover {
	background-color: #e08e0b;
}

.btn-outline {
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
	color: rgba(255, 255, 255, 0.7);
	border-color: rgba(255, 255, 255, 0.7);
}

.btn-link {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn[class*='bg-']:hover {
	-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.btn-app {
	border-radius: 3px;
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	font-size: 12px;
}

.btn-app>.fa, .btn-app>.glyphicon, .btn-app>.ion {
	font-size: 20px;
	display: block;
}

.btn-app:hover {
	background: #f4f4f4;
	color: #444;
	border-color: #aaa;
}

.btn-app:active, .btn-app:focus {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-app>.badge {
	position: absolute;
	top: -3px;
	right: -10px;
	font-size: 10px;
	font-weight: 400;
}

/*
 * Componente: Form
 * ---------------
 */
.form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #d2d6de;
}

.form-control:focus {
	border-color: #3c8dbc;
	box-shadow: none;
}

.form-control::-moz-placeholder, .form-control:-ms-input-placeholder,
	.form-control::-webkit-input-placeholder {
	color: #bbb;
	opacity: 1;
}

.form-control:not(select) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-group.has-success label {
	color: #00a65a;
}

.form-group.has-success .form-control {
	border-color: #00a65a;
	box-shadow: none;
}

.form-group.has-success .help-block {
	color: #00a65a;
}

.form-group.has-warning label {
	color: #f39c12;
}

.form-group.has-warning .form-control {
	border-color: #f39c12;
	box-shadow: none;
}

.form-group.has-warning .help-block {
	color: #f39c12;
}

.form-group.has-error label {
	color: #dd4b39;
}

.form-group.has-error .form-control {
	border-color: #dd4b39;
	box-shadow: none;
}

.form-group.has-error .help-block {
	color: #dd4b39;
}
/* Input group */
.input-group .input-group-addon {
	border-radius: 0;
	border-color: #d2d6de;
	background-color: #fff;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type, .btn-group-vertical .btn.btn-flat:last-of-type
	{
	border-radius: 0;
}

.icheck>label {
	padding-left: 0;
}
/* support Font Awesome icons in form-control */
.form-control-feedback.fa {
	line-height: 34px;
}

.input-lg+.form-control-feedback.fa, .input-group-lg+.form-control-feedback.fa,
	.form-group-lg .form-control+.form-control-feedback.fa {
	line-height: 46px;
}

.input-sm+.form-control-feedback.fa, .input-group-sm+.form-control-feedback.fa,
	.form-group-sm .form-control+.form-control-feedback.fa {
	line-height: 30px;
}


/*
 * Component: modal
 * ----------------
 */
.modal {
	background: rgba(0, 0, 0, 0.3);
}

.modal-content {
	border-radius: 0;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
	border: 0;
}

@media ( min-width : 768px) {
	.modal-content {
		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
	}
}

.modal-header {
	border-bottom-color: #f4f4f4;
}

.modal-footer {
	border-top-color: #f4f4f4;
}

.modal-primary .modal-header, .modal-primary .modal-footer {
	border-color: #307095;
}

.modal-warning .modal-header, .modal-warning .modal-footer {
	border-color: #c87f0a;
}

.modal-info .modal-header, .modal-info .modal-footer {
	border-color: #0097bc;
}

.modal-success .modal-header, .modal-success .modal-footer {
	border-color: #00733e;
}

.modal-danger .modal-header, .modal-danger .modal-footer {
	border-color: #c23321;
}

/*
 * Component: Table
 * ----------------
 */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #f4f4f4;
}

.table>thead>tr>th {
	border-bottom: 2px solid #f4f4f4;
}

.table tr td .progress {
	margin-top: 5px;
}

.table-bordered {
	border: 1px solid #f4f4f4;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
	.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #f4f4f4;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 2px;
}

.table.no-border, .table.no-border td, .table.no-border th {
	border: 0;
}
/* .text-center in tables */
table.text-center, table.text-center td, table.text-center th {
	text-align: center;
}

.table.align th {
	text-align: left;
}

.table.align td {
	text-align: right;
}

/*
 * Componente: alert
 * ----------------
 */
.alert {
	border-radius: 3px;
}

.alert h4 {
	font-weight: 600;
}

.alert .icon {
	margin-right: 10px;
}

.alert .close {
	color: #000;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}

.alert .close:hover {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.alert a {
	color: #fff;
	text-decoration: underline;
}

.alert-success {
	border-color: #008d4c;
}

.alert-danger, .alert-error {
	border-color: #d73925;
}

.alert-warning {
	border-color: #e08e0b;
}

.alert-info {
	border-color: #00acd6;
}

/*
 * Componente: Callout
 * ------------------
 */
.callout {
	border-radius: 3px;
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.callout a {
	color: #fff;
	text-decoration: underline;
}

.callout a:hover {
	color: #eee;
}

.callout h4 {
	margin-top: 0;
	font-weight: 600;
}

.callout p:last-child {
	margin-bottom: 0;
}

.callout code, .callout .highlight {
	background-color: #fff;
}

.callout.callout-danger {
	border-color: #c23321;
}

.callout.callout-warning {
	border-color: #c87f0a;
}

.callout.callout-info {
	border-color: #0097bc;
}

.callout.callout-success {
	border-color: #00733e;
}

/*
 * General: Miscellaneous
 * ----------------------
 */
.pad {
	padding: 10px;
}

.margin {
	margin: 10px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-bottom-none {
	margin-bottom: 0;
}

.margin-r-5 {
	margin-right: 5px;
}

.inline {
	display: inline;
}

.description-block {
	display: block;
	margin: 10px 0;
	text-align: center;
}

.description-block.margin-bottom {
	margin-bottom: 25px;
}

.description-block>.description-header {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 16px;
}

.description-block>.description-text {
	text-transform: uppercase;
}

.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green,
	.bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia,
	.bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active,
	.bg-aqua-active, .bg-blue-active, .bg-light-blue-active,
	.bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active,
	.bg-lime-active, .bg-orange-active, .bg-fuchsia-active,
	.bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger,
	.callout.callout-warning, .callout.callout-info, .callout.callout-success,
	.alert-success, .alert-danger, .alert-error, .alert-warning,
	.alert-info, .label-danger, .label-info, .label-warning, .label-primary,
	.label-success, .modal-primary .modal-body, .modal-primary .modal-header,
	.modal-primary .modal-footer, .modal-warning .modal-body,
	.modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body,
	.modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body,
	.modal-success .modal-header, .modal-success .modal-footer,
	.modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer
	{
	color: #fff !important;
}

.bg-gray {
	color: #000;
	background-color: #d2d6de !important;
}

.bg-gray-light {
	background-color: #f7f7f7;
}

.bg-black {
	background-color: #111111 !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error,
	.label-danger, .modal-danger .modal-body {
	background-color: #dd4b39 !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning,
	.modal-warning .modal-body {
	background-color: #f39c12 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body
	{
	background-color: #00c0ef !important;
}

.bg-blue {
	background-color: #0073b7 !important;
}

.bg-primary {
	background-color: #3c8dbc !important;
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
	background-color: #3c8dbc !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success,
	.modal-success .modal-body {
	background-color: #00a65a !important;
}

.bg-navy {
	background-color: #001f3f !important;
}

.bg-teal {
	background-color: #39cccc !important;
}

.bg-olive {
	background-color: #3d9970 !important;
}

.bg-lime {
	background-color: #01ff70 !important;
}

.bg-orange {
	background-color: #ff851b !important;
}

.bg-fuchsia {
	background-color: #f012be !important;
}

.bg-purple {
	background-color: #605ca8 !important;
}

.bg-maroon {
	background-color: #d81b60 !important;
}

.bg-gray-active {
	color: #000;
	background-color: #b5bbc8 !important;
}

.bg-black-active {
	background-color: #000000 !important;
}

.bg-red-active, .modal-danger .modal-header, .modal-danger .modal-footer
	{
	background-color: #d33724 !important;
}

.bg-yellow-active, .modal-warning .modal-header, .modal-warning .modal-footer
	{
	background-color: #db8b0b !important;
}

.bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
	background-color: #00a7d0 !important;
}

.bg-blue-active {
	background-color: #005384 !important;
}

.bg-light-blue-active, .modal-primary .modal-header, .modal-primary .modal-footer
	{
	background-color: #357ca5 !important;
}

.bg-green-active, .modal-success .modal-header, .modal-success .modal-footer
	{
	background-color: #008d4c !important;
}

.bg-navy-active {
	background-color: #001a35 !important;
}

.bg-teal-active {
	background-color: #30bbbb !important;
}

.bg-olive-active {
	background-color: #368763 !important;
}

.bg-lime-active {
	background-color: #00e765 !important;
}

.bg-orange-active {
	background-color: #ff7701 !important;
}

.bg-fuchsia-active {
	background-color: #db0ead !important;
}

.bg-purple-active {
	background-color: #555299 !important;
}

.bg-maroon-active {
	background-color: #ca195a !important;
}

[class^="bg-"].disabled {
	opacity: 0.65;
	filter: alpha(opacity = 65);
}

.text-red {
	color: #dd4b39 !important;
}

.text-yellow {
	color: #f39c12 !important;
}

.text-aqua {
	color: #00c0ef !important;
}

.text-blue {
	color: #0073b7 !important;
}

.text-black {
	color: #111111 !important;
}

.text-light-blue {
	color: #3c8dbc !important;
}

.text-green {
	color: #00a65a !important;
}

.text-gray {
	color: #d2d6de !important;
}

.text-navy {
	color: #001f3f !important;
}

.text-teal {
	color: #39cccc !important;
}

.text-olive {
	color: #3d9970 !important;
}

.text-lime {
	color: #01ff70 !important;
}

.text-orange {
	color: #ff851b !important;
}

.text-fuchsia {
	color: #f012be !important;
}

.text-purple {
	color: #605ca8 !important;
}

.text-maroon {
	color: #d81b60 !important;
}

.link-muted {
	color: #7a869d;
}

.link-muted:hover, .link-muted:focus {
	color: #606c84;
}

.link-black {
	color: #666;
}

.link-black:hover, .link-black:focus {
	color: #999;
}

.hide {
	display: none !important;
}

.no-border {
	border: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-shadow {
	box-shadow: none !important;
}

.list-unstyled, .chart-legend, .contacts-list, .users-list,
	.mailbox-attachments {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-group-unbordered>.list-group-item {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
}

.flat {
	border-radius: 0 !important;
}

.text-bold, .text-bold.table td, .text-bold.table th {
	font-weight: 700;
}

.text-sm {
	font-size: 12px;
}

.jqstooltip {
	padding: 5px !important;
	width: auto !important;
	height: auto !important;
}

.bg-teal-gradient {
	background: #39cccc !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc),
		color-stop(1, #7adddd)) !important;
	background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
	background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%)
		!important;
	background: -o-linear-gradient(#7adddd, #39cccc) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd',
		endColorstr='#39cccc', GradientType=0) !important;
	color: #fff;
}

.bg-light-blue-gradient {
	background: #3c8dbc !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc),
		color-stop(1, #67a8ce)) !important;
	background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;
	background: -moz-linear-gradient(center bottom, #3c8dbc 0%, #67a8ce 100%)
		!important;
	background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce',
		endColorstr='#3c8dbc', GradientType=0) !important;
	color: #fff;
}

.bg-blue-gradient {
	background: #0073b7 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7),
		color-stop(1, #0089db)) !important;
	background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
	background: -moz-linear-gradient(center bottom, #0073b7 0%, #0089db 100%)
		!important;
	background: -o-linear-gradient(#0089db, #0073b7) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db',
		endColorstr='#0073b7', GradientType=0) !important;
	color: #fff;
}

.bg-aqua-gradient {
	background: #00c0ef !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef),
		color-stop(1, #14d1ff)) !important;
	background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
	background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%)
		!important;
	background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff',
		endColorstr='#00c0ef', GradientType=0) !important;
	color: #fff;
}

.bg-yellow-gradient {
	background: #f39c12 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12),
		color-stop(1, #f7bc60)) !important;
	background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
	background: -moz-linear-gradient(center bottom, #f39c12 0%, #f7bc60 100%)
		!important;
	background: -o-linear-gradient(#f7bc60, #f39c12) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60',
		endColorstr='#f39c12', GradientType=0) !important;
	color: #fff;
}

.bg-purple-gradient {
	background: #605ca8 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8),
		color-stop(1, #9491c4)) !important;
	background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
	background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%)
		!important;
	background: -o-linear-gradient(#9491c4, #605ca8) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4',
		endColorstr='#605ca8', GradientType=0) !important;
	color: #fff;
}

.bg-green-gradient {
	background: #00a65a !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a),
		color-stop(1, #00ca6d)) !important;
	background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
	background: -moz-linear-gradient(center bottom, #00a65a 0%, #00ca6d 100%)
		!important;
	background: -o-linear-gradient(#00ca6d, #00a65a) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d',
		endColorstr='#00a65a', GradientType=0) !important;
	color: #fff;
}

.bg-red-gradient {
	background: #dd4b39 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39),
		color-stop(1, #e47365)) !important;
	background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
	background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%)
		!important;
	background: -o-linear-gradient(#e47365, #dd4b39) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365',
		endColorstr='#dd4b39', GradientType=0) !important;
	color: #fff;
}

.bg-black-gradient {
	background: #111111 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111),
		color-stop(1, #2b2b2b)) !important;
	background: -ms-linear-gradient(bottom, #111111, #2b2b2b) !important;
	background: -moz-linear-gradient(center bottom, #111111 0%, #2b2b2b 100%)
		!important;
	background: -o-linear-gradient(#2b2b2b, #111111) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b',
		endColorstr='#111111', GradientType=0) !important;
	color: #fff;
}

.bg-maroon-gradient {
	background: #d81b60 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60),
		color-stop(1, #e73f7c)) !important;
	background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) !important;
	background: -moz-linear-gradient(center bottom, #d81b60 0%, #e73f7c 100%)
		!important;
	background: -o-linear-gradient(#e73f7c, #d81b60) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c',
		endColorstr='#d81b60', GradientType=0) !important;
	color: #fff;
}

.description-block .description-icon {
	font-size: 16px;
}

.no-pad-top {
	padding-top: 0;
}

.position-static {
	position: static !important;
}

.list-header {
	font-size: 15px;
	padding: 10px 4px;
	font-weight: bold;
	color: #666;
}

.list-seperator {
	height: 1px;
	background: #f4f4f4;
	margin: 15px 0 9px 0;
}

.list-link>a {
	padding: 4px;
	color: #777;
}

.list-link>a:hover {
	color: #222;
}

.font-light {
	font-weight: 300;
}

.user-block:before, .user-block:after {
	content: " ";
	display: table;
}

.user-block:after {
	clear: both;
}

.user-block img {
	width: 40px;
	height: 40px;
	float: left;
}

.user-block .username, .user-block .description, .user-block .comment {
	display: block;
	margin-left: 50px;
}

.user-block .username {
	font-size: 16px;
	font-weight: 600;
}

.user-block .description {
	color: #999;
	font-size: 13px;
}

.user-block.user-block-sm .username, .user-block.user-block-sm .description,
	.user-block.user-block-sm .comment {
	margin-left: 40px;
}

.user-block.user-block-sm .username {
	font-size: 14px;
}

.img-sm, .img-md, .img-lg, .box-comments .box-comment img, .user-block.user-block-sm img
	{
	float: left;
}

.img-sm, .box-comments .box-comment img, .user-block.user-block-sm img {
	width: 30px !important;
	height: 30px !important;
}

.img-sm+.img-push {
	margin-left: 40px;
}

.img-md {
	width: 60px;
	height: 60px;
}

.img-md+.img-push {
	margin-left: 70px;
}

.img-lg {
	width: 100px;
	height: 100px;
}

.img-lg+.img-push {
	margin-left: 110px;
}

.img-bordered {
	border: 3px solid #d2d6de;
	padding: 3px;
}

.img-bordered-sm {
	border: 2px solid #d2d6de;
	padding: 2px;
}

.attachment-block {
	border: 1px solid #f4f4f4;
	padding: 5px;
	margin-bottom: 10px;
	background: #f7f7f7;
}

.attachment-block .attachment-img {
	max-width: 100px;
	max-height: 100px;
	height: auto;
	float: left;
}

.attachment-block .attachment-pushed {
	margin-left: 110px;
}

.attachment-block .attachment-heading {
	margin: 0;
}

.attachment-block .attachment-text {
	color: #555;
}

.connectedSortable {
	min-height: 100px;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sort-highlight {
	background: #f4f4f4;
	border: 1px dashed #ddd;
	margin-bottom: 10px;
}

.full-opacity-hover {
	opacity: 0.65;
	filter: alpha(opacity = 65);
}

.full-opacity-hover:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.chart {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.chart svg, .chart canvas {
	width: 100% !important;
}
/*
 * Misc: print
 * -----------
 */
@media print {
	.no-print, .main-sidebar, .left-side, .main-header, .content-header {
		display: none !important;
	}
	.content-wrapper, .right-side, .main-footer {
		margin-left: 0 !important;
		min-height: 0 !important;
		-webkit-transform: translate(0, 0) !important;
		-ms-transform: translate(0, 0) !important;
		-o-transform: translate(0, 0) !important;
		transform: translate(0, 0) !important;
	}
	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 0 !important;
	}
	.invoice {
		width: 100%;
		border: 0;
		margin: 0;
		padding: 0;
	}
	.invoice-col {
		float: left;
		width: 33.3333333%;
	}
	.table-responsive {
		overflow: auto;
	}
	.table-responsive>.table tr th, .table-responsive>.table tr td {
		white-space: normal !important;
	}
}

/*
 * Component: Timeline
 * -------------------
 */
.timeline {
	position: relative;
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
}

.timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4px;
	background: #ddd;
	left: 31px;
	margin: 0;
	border-radius: 2px;
}

.timeline>li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 15px;
}

.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li>.timeline-item {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-top: 0;
	background: #fff;
	color: #444;
	margin-left: 60px;
	margin-right: 15px;
	padding: 0;
	position: relative;
}

.timeline>li>.timeline-item>.time {
	color: #999;
	float: right;
	padding: 10px;
	font-size: 12px;
}

.timeline>li>.timeline-item>.timeline-header {
	margin: 0;
	color: #555;
	border-bottom: 1px solid #f4f4f4;
	padding: 10px;
	font-size: 16px;
	line-height: 1.1;
}

.timeline>li>.timeline-item>.timeline-header>a {
	font-weight: 600;
}

.timeline>li>.timeline-item>.timeline-body, .timeline>li>.timeline-item>.timeline-footer
	{
	padding: 10px;
}

.timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.ion {
	width: 30px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	position: absolute;
	color: #666;
	background: #d2d6de;
	border-radius: 50%;
	text-align: center;
	left: 18px;
	top: 0;
}

.timeline>.time-label>span {
	font-weight: 600;
	padding: 5px;
	display: inline-block;
	background-color: #fff;
	border-radius: 4px;
}

.timeline-inverse>li>.timeline-item {
	background: #f0f0f0;
	border: 1px solid #ddd;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.timeline-inverse>li>.timeline-item>.timeline-header {
	border-bottom-color: #ddd;
}