<div class="row">
	<div class="col-lg-12">
		<div class="dataTable_wrapper">
			<p>
				<a type="button" class="btn btn-primary"
					ng-click="provaCtrl.novaProva()" access="ROLE_ADMINISTRATORS"> Nova Prova</a>
			</p>
			<table datatable="ng" dt-options="provaCtrl.dtOptions"
				dt-column-defs="provaCtrl.dtColumnDefs"
				class="table table-striped table-bordered table-hover"
				id="dtprova">
				<thead>
					<tr>
						<th width="10%">Ações</th>
						<th width="40%">Assunto</th>
						<th width="20%">Quantidade de Questões</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeX" ng-repeat="prova in provaCtrl.provas">
						<td>
							<button type="button"ng-click="provaCtrl.abrirDetalhes(prova)" title="Visualizar Detalhes" data-toggle="tooltip"
								class="btn btn-xs btn-primary" access="ROLE_ADMINISTRATORS">
								<i class='fa fa-search'></i>
							</button>
							<button type="button" ng-click="provaCtrl.editarProva(prova)" title="Editar" data-toggle="tooltip"
								class="btn btn-xs btn-default" access="ROLE_ADMINISTRATORS">
								<i class='fa fa-edit'></i>
							</button>
							<button type="button" ng-click="provaCtrl.remover(prova)" title="Remover" data-toggle="tooltip"
								class="btn btn-xs btn-danger" access="ROLE_ADMINISTRATORS">
								<i class='fa fa-trash'></i>
							</button>
						</td>
						<td>{{prova.assunto}}</td>
						<td>{{prova.questoes.length}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>