
<form name="provaForm"
	ng-submit="provaForm.$valid && provaEditCtrl.salvar()" role="form"
	novalidate>
	<div class="row">
		<div class="col-lg-12">
			<div class="box box-primary">


				<div class="row row box-topic">
					<div class="col-md-12">
						<div class="form-group has-feedback"
							ng-class="{ 'has-error': provaForm.$submitted && provaForm.assunto.$invalid}">
							<label class="control-label">Assunto*</label> <input
								id="tAssunto" class="form-control" type="text"
								ng-model="provaEditCtrl.prova.assunto" name="assunto" required></input>
							<div ng-show="provaForm.$submitted && provaForm.assunto.$invalid"
								class="help-block">Assunto é requerido.</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="pull-left sge-label-question">
							<label>Questões <span class="badge">{{provaEditCtrl.prova.questoes.length?
									provaEditCtrl.prova.questoes.length: '0'}}</span>
							</label>
						</div>
						<div class="pull-right">
							<button class="btn btn-primary" type="button"
								ng-click="provaEditCtrl.adicionarItem()">Adicionar
								Questão</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="well sge-well-position"
							ng-show="!provaEditCtrl.prova.questoes.length"
							ng-class="{ 'sge-well-error': provaForm.$submitted && !provaEditCtrl.prova.questoes.length}">
							Nenhuma questão adicionada.</div>
						<help-block
							show="provaForm.$submitted && !provaEditCtrl.prova.questoes.length"
							message="'Uma pergunta deve ser adicionada.'"></help-block>

						<div class="sge-well-position">
							<table class="table"
								ng-show="provaEditCtrl.prova.questoes.length">
								<thead>
									<tr>
										<th width="8%">Ações</th>
										<th width="40%">Enunciado</th>
										<th width="15%">Dificuldade</th>
										<th width="15%">Alternativa correta</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="questao in provaEditCtrl.prova.questoes">
										<td>
											<button type="button" title="Editar" data-toggle="tooltip"
												ng-click="provaEditCtrl.editarItem(questao)"
												class="btn btn-xs btn-default" access="ROLE_ADMINISTRATORS">
												<i class='fa fa-edit'></i>
											</button>

											<button type="button" title="Remover" data-toggle="tooltip"
												ng-click="provaEditCtrl.removerQuestao(questao)"
												class="btn btn-xs btn-danger" access="ROLE_ADMINISTRATORS">
												<i class='fa fa-trash'></i>
											</button>
										</td>
										<td>{{questao.enunciado}}</td>
										<td>{{questao.dificuldade}}</td>
										<td>{{questao.resposta}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit"
					value="{{provaEditCtrl.isEdited() ? 'Alterar':'Salvar' }}" />
				<button class="btn btn-warning" type="button"
					ng-click="provaEditCtrl.cancelar()">Cancelar</button>
			</div>
		</div>
	</div>
</form>