<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-warning alert-dismissible" ng-show="provaDCtrl.treinamentoAlocado.treinamento === undefined">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>Apenas visualização, para ver suas provas acesse <b>"Meus Níveis"</b> no menu.</p>
        </div>
		<h3 class="box-title">{{provaDCtrl.prova.assunto}}</h3>

		<div class="box box-primary" ng-show="!provaDCtrl.temResultado">
			<div class="box-header with-border">
				<h3 class="box-title">QUESTÃO {{provaDCtrl.progresso+1}}</h3>
				<div class="pull-right">
					<span>Nível </span> <span
						ng-class="{'label label-danger': provaDCtrl.questao.dificuldade == 'DIFICIL',
									'label label-warning': provaDCtrl.questao.dificuldade == 'MEDIO',
									'label label-success': provaDCtrl.questao.dificuldade == 'FACIL'}">
						{{provaDCtrl.questao.dificuldade}} </span>
				</div>
			</div>
			<div class="row box-topic">
				<form novalidate name="provaDCtrl.frmOptions"
					ng-submit="provaDCtrl.frmOptions.$valid && provaDCtrl.proximaQuestao()"
					role="form">
					<div class="col-lg-12">
						<p>{{provaDCtrl.questao.enunciado}}</p>

					</div>

					<div class="row">
						<div class="col-lg-12 radio">
							<div class="form-group"
								ng-class="{ 'has-error': provaDCtrl.frmOptions.$submitted && provaDCtrl.frmOptions.altOptions.$invalid }">
								<div class="radio sge-check-space"
									ng-repeat="alternativa in provaDCtrl.questao.alternativas">
									<label> <input icheck type="radio" name="altOptions"
										ng-required="!provaDCtrl.respostaAtual.alternativaMarcada"
										ng-model="provaDCtrl.respostaAtual.alternativaMarcada"
										ng-value="alternativa" /> <b>{{alternativa.letra+') '}}</b>{{alternativa.descricao}}
									</label>
								</div>
								<div
									ng-show="provaDCtrl.frmOptions.$submitted && provaDCtrl.frmOptions.altOptions.$invalid"
									class="help-block">Marque uma opção</div>
							</div>
						</div>
					</div>

					<div class="row box-footer">
						<div class="col-lg-12">
							<div class="pull-left-progress ">
								<div class="progress-group">
									<span class="progress-text">Progresso</span> <span
										class="progress-number"><b>{{provaDCtrl.progresso}}</b>/{{provaDCtrl.prova.questoes.length}}</span>

									<div class="progress">
										<div class="progress-bar" role="progressbar"
											aria-valuenow="{{provaDCtrl.progresso}}" aria-valuemin="0"
											aria-valuemax="{{provaDCtrl.prova.questoes.length}}"
											style="width: {{(provaDCtrl.progresso/provaDCtrl.prova.questoes.length)*100}}%;">
										</div>
									</div>
								</div>
							</div>
							<div class="pull-right" ng-show="!provaDCtrl.finalizada()">
								<button type="submit" class="btn btn-primary btn-lg">Proxima</button>
							</div>
							<div class="pull-right" ng-show="provaDCtrl.finalizada()">
								<button type="submit" class="btn btn-success btn-lg">Finalizar</button>
							</div>

						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="box box-primary" ng-show="provaDCtrl.temResultado">
			<div class="box-header with-border">
				<h3 class="box-title">Resultado</h3>
			</div>
			<div class="row box-topic">
				<div class="col-lg-12">
					<div class="callout callout-success"
						ng-show="provaDCtrl.resultadoProva.passou">
						<h4>Parabéns</h4>

						<p>Você atingiu os objetivos esperados.</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="callout callout-danger"
						ng-show="!provaDCtrl.resultadoProva.passou">
						<h4>Estude Mais</h4>

						<p>Você não atingiu os objetivos esperados. É esperado um
							percentual de 100% de acertos</p>
					</div>
				</div>
			</div>

			<div class="row box-topic">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-4">
							<widget> <widget-body>
							<div class="title">{{provaDCtrl.resultadoProva.nQuestoes}}</div>
							<div class="comment">Nº Questões</div>
							</widget-body> </widget>
						</div>
						<div class="col-lg-4">
							<widget> <widget-body>
							<div class="title">{{provaDCtrl.resultadoProva.pontos}}</div>
							<div class="comment">Acertos</div>
							</widget-body> </widget>
						</div>
						<div class="col-lg-4">
							<widget> <widget-body>
							<div class="title">{{provaDCtrl.resultadoProva.percentual}}</div>
							<div class="comment">Percentual</div>
							</widget-body> </widget>
						</div>
					</div>
					<div class="row">
						<center>
							<div class="row box-topic">
								<div class="col-lg-12">
									<a class="btn btn-app btn-block" ng-click="provaDCtrl.irParaTreinamentos()"> <i class="fa fa-rocket"></i>
										Treinamento
									</a> <a class="btn btn-app btn-block" ng-show="!provaDCtrl.resultadoProva.passou" 
											ng-click="provaDCtrl.refazerProva()"> <i class="fa fa-repeat"></i>
										Refazer
									</a>
								</div>
							</div>
						</center>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="timeline">

						<li class="time-label"><span class="bg-primary">
								Questões </span></li>

						<li ng-repeat="item in provaDCtrl.respostas"><i
							ng-class="{'fa fa-times bg-red': item.alternativaMarcada.letra !== item.questao.resposta,
										'fa fa-check bg-green': item.alternativaMarcada.letra == item.questao.resposta}"></i>
							<div class="timeline-item">

								<h3 class="timeline-header no-border">
									<b>Questão {{$index+1}}</b> {{item.questao.enunciado}}
								</h3>
							</div></li>
						<br>
					</ul>
				</div>
			</div>

		</div>

	</div>
</div>
