<header-modal close="questaoMCtrl.cancelar()" label="questaoMCtrl.isEdited ? 'Alterar Questão':'Nova Questão'"></header-modal>

<form name="questaoForm" role="form" novalidate
	ng-submit="questaoForm.$valid && questaoMCtrl.salvar()">

	<div class="modal-body" id="modal-body">
	
		<div class="form-group has-feedback" ng-class="{ 'has-error sge-has-error-editor': questaoForm.$submitted && !questaoMCtrl.item.enunciado }">
			<label class="control-label">Enunciado*</label>
			<textarea simplemde id="tEnunciado" ng-model="questaoMCtrl.item.enunciado"></textarea>
			<div ng-show="questaoForm.$submitted && !questaoMCtrl.item.enunciado"
				class="help-block">Enunciado é requerido
			</div>
		</div>
		
		<div class="form-group" ng-class="{ 'has-error sge-has-error-editor': questaoForm.$submitted && (!questaoMCtrl.item.resposta && !validaAlternativas())}">
		
			<label class="control-label" ng-class="{'sge-txt-danger':questaoForm.$submitted && !validaAlternativas()}">Alternativas*</label>
			
			<div ng-repeat="alt in questaoMCtrl.item.alternativas | orderBy:'letra'">
 				<button ng-class="{'btn-success': questaoMCtrl.item.resposta == alt.letra, 'btn-danger': questaoMCtrl.item.resposta != alt.letra}" 
					class="btn btn-xs inline js-alt sge-btn-fixed" type="button"  
					ng-click="questaoMCtrl.setResposta(alt.letra)">{{questaoMCtrl.item.resposta == alt.letra? 'CORRETA':'INCORRETA'}}</button>
					
				<a class="inline custom-link control-label" ng-click="showEditor =! showEditor"><b>{{alt.letra+') '}}</b> {{alt.descricao}}</a>
				
				<div ng-show="showEditor">
					<textarea class="form-control sge-txt-area-alt" ng-model="alt.descricao" name="alternativa" ></textarea> 
         		</div>
         		
			</div>
			
			<help-block show="questaoForm.$submitted && !questaoMCtrl.item.resposta"
				message="'Uma alternativa deve ser marcada como correta.'"></help-block>
				
			<help-block show="questaoForm.$submitted && !validaAlternativas()"
				message="'Todas as alternativas são requeridas.'"></help-block>

	</div>
	
		<div class="form-group has-feedback"
			ng-class="{ 'has-error': questaoForm.$submitted && questaoForm.peso.$invalid }">
			<label class="control-label" for="peso">Nível*</label>
			 
			<select class="form-control" name="peso" ng-model="questaoMCtrl.item.dificuldade" required>
				<option value="">Selecione</option>
				<option value="FACIL">Fácil</option>
				<option value="MEDIO">Médio</option>
				<option value="DIFICIL">Difícil</option>
			</select>			
			
			<div ng-show="questaoForm.$submitted && questaoForm.peso.$invalid"
				class="help-block">O peso da questão é requerido.
			</div>
		</div>
	</div>

	<!-- Footer modal -->
	<div class="modal-footer">
		<input class="btn btn-primary" type="submit" value="{{questaoMCtrl.isEdited ? 'Alterar':'Adicionar' }}" />
		<button class="btn btn-warning" type="button" ng-click="questaoMCtrl.cancelar()">Cancelar</button>
	</div>
</form>

<div class="overlay" ng-show="questaoMCtrl.loading">
	<i class="fa fa-refresh fa-spin"></i>
</div>


 <style type="text/css">
 
	 .CodeMirror, .CodeMirror-scroll {
	    min-height: 100px;
	}

 </style>
