<div class="row">
	<div class="col-lg-12">
	    <div class="alert alert-warning alert-dismissible" ng-show="treinamentoDCtrl.treinamentoAlocado.treinamento === undefined">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>Para ver seus treinamentos e provas acesse <b>"Meus Níveis"</b> no menu.</p>
        </div>
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">{{treinamentoDCtrl.treinamento.titulo}}</h3>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="row box-topic">
						<div class="col-md-12">
							<label>Descrição </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div>{{treinamentoDCtrl.treinamento.descricao}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row box-topic">
						<div class="col-md-12">
							<label>Número de Conteúdos </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div>{{treinamentoDCtrl.treinamento.conteudos.length}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-2" ng-show = "treinamentoDCtrl.treinamentoAlocado.treinamento !== undefined">
					<div class="row box-topic">
						<div class="col-md-12">
							<label>Prova </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" ng-show="!treinamentoDCtrl.treinamentoAlocado.finalizado">
							<button type="button" ng-click="treinamentoDCtrl.detailNivel()"
								class="btn btn-primary btn-block btn-xs">Responder Prova</button>
						</div>
						<div class="col-md-12" ng-show="treinamentoDCtrl.treinamentoAlocado.finalizado">
							<span class="label label-success">Prova concluída</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" ng-show="treinamentoDCtrl.treinamentoAlocado.finalizado !== undefined">
					<div class="row box-topic">
						<div class="col-md-12">
							<label>Treinamento Finalizado </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<span ng-class="{'label label-danger': !treinamentoDCtrl.treinamentoAlocado.finalizado, 
										'label label-success': treinamentoDCtrl.treinamentoAlocado.finalizado}">{{treinamentoDCtrl.treinamentoAlocado.finalizado? 'Sim': 'Não'}}</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row box-topic">
						<div class="col-md-12">
							<label>Prazo estimado</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							{{treinamentoDCtrl.treinamento.tempoTreinamento}} dias
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="box box-primary" ng-show="treinamentoDCtrl.temMaterial()">
			<div class="box-header with-border">
				<h3 class="box-title">Materiais</h3>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="box-topic">
						<table class="table">
							<thead>
								<tr>
									<th width="85%">Descrição</th>
									<th>Link</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="conteudo in treinamentoDCtrl.materiais">

									<td>{{conteudo.descricao}}</td>
									<td><a target="_blank" href="{{conteudo.link}}"
										class="btn btn-primary btn-xs btn-block"><i
											class="fa fa-external-link"></i> Acessar Material</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="box box-primary" ng-show="treinamentoDCtrl.temVideo()">
			<div class="box-header with-border">
				<h3 class="box-title">Video aulas</h3>
				<div class="pull-right">
					<a class="btn btn-default" ng-class="{'active': !treinamentoDCtrl.videoOption}" ng-click="treinamentoDCtrl.videoOption = false">
						<i class="fa fa-th"></i>
					</a> 
					<a class="btn btn-default" ng-class="{'active': treinamentoDCtrl.videoOption}" ng-click="treinamentoDCtrl.videoOption = true">
						<i class="fa fa-stop"></i>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">

					<!-- visualizar video -->
					<div ng-show="treinamentoDCtrl.videoOption">
						<table datatable="ng" class="table noHeader noBorder"
							dt-options="treinamentoDCtrl.dtOptions"
							dt-column-defs="treinamentoDCtrl.dtColumnDefs">
							<thead>
							</thead>
							<tr class="sge-center-div"
								ng-repeat="conteudo in treinamentoDCtrl.videos">
								<!-- <h3 class="sge-cabecalho-cont">{{conteudo.descricao}}</h3> -->
								<td><youtube-video video-url="conteudo.link"></youtube-video>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

					<!-- lista de videos -->
					<div ng-show="!treinamentoDCtrl.videoOption">
						<div class="panel-body">
							<div class="col-sm-4 col-lg-4 col-md-4"
								ng-repeat="conteudo in treinamentoDCtrl.videos">
								<div class="well well-sm media">
									<div class="embed-responsive embed-responsive-16by9">
										<youtube-video class="embed-responsive-item"
											video-url="conteudo.link"></youtube-video>
									</div>
									<div class="media-body sge-center-div">
										{{conteudo.descricao}} <a target="_block"
											class="btn btn-primary btn-xs btn-block"
											href="{{conteudo.link}}"><i class="fa fa-play"></i> Abrir</a>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>