<div class="row">
	<div class="col-lg-12">
		<div class="dataTable_wrapper">
			<p>
				<button type="button" class="btn btn-primary"
					ng-click="treinamentoCtrl.adicionarItem()" access-view="ROLE_ADMINISTRATORS"> Novo Treinamento</button>
			</p>
			<table datatable="ng" dt-options="treinamentoCtrl.dtOptions"
				dt-column-defs="treinamentoCtrl.dtColumnDefs"
				class="table table-striped table-bordered table-hover"
				id="dtTreinamento">
				<thead>
					<tr>
						<th width="15%">Ações</th>
						<th width="35%">Título</th>
						<th width="55%">Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeX" ng-repeat="treinamento in treinamentoCtrl.treinamentos">
						<td>
							<button type="button"ng-click="treinamentoCtrl.abrirDetalhes(treinamento)" title="Visualizar Detalhes" data-toggle="tooltip"
								class="btn btn-xs btn-primary">
								<i class='fa fa-search'></i>
							</button>
							<button type="button" ng-click="treinamentoCtrl.editarItem(treinamento)" title="Editar" data-toggle="tooltip"
								class="btn btn-xs btn-default" access-view="ROLE_ADMINISTRATORS">
								<i class='fa fa-edit'></i>
							</button>
							<button type="button" ng-click="treinamentoCtrl.remover(treinamento)" title="Remover" data-toggle="tooltip"
								class="btn btn-xs btn-danger" access-view="ROLE_ADMINISTRATORS">
								<i class='fa fa-trash'></i>
							</button>
						</td>
						<td>{{treinamento.titulo}}</td>
						<td>{{treinamento.descricao}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>