<div class="row">
	<div class="col-lg-12">
		<form name="treinamentoForm"
			ng-submit="treinamentoForm.$valid && treinamentoECtrl.salvar()"
			role="form" novalidate>

			<div class="box box-primary">
				<div class="row box-topic">
					<div class="col-lg-12">
						<div class="form-group"
							ng-class="{ 'has-error': treinamentoForm.$submitted && treinamentoForm.titulo.$invalid }">
							<label class="control-label" for="descricao">Título*</label> <input
								name="titulo" ng-model="treinamentoECtrl.item.titulo"
								type="text" class="form-control"
								placeholder="Título do treinamento" required />
							<div
								ng-show="treinamentoForm.$submitted && treinamentoForm.titulo.$invalid"
								class="help-block">Título é Requerido</div>
						</div>
					</div>
				</div>
				<div class="row box-topic">
					<div class="col-lg-12">
						<div class="form-group"
							ng-class="{ 'has-error': treinamentoForm.$submitted && treinamentoForm.descricao.$invalid }">
							<label class="control-label" for="descricao">Descrição*</label>
							<textarea name="descricao"
								ng-model="treinamentoECtrl.item.descricao" type="text"
								class="form-control" placeholder="Descrição" required />
							<div
								ng-show="treinamentoForm.$submitted && treinamentoForm.descricao.$invalid"
								class="help-block">Descrição é Requerida</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<!-- Provas -->
						<div class="form-group has-feedback"
							ng-class="{ 'has-error': treinamentoForm.$submitted && treinamentoForm.prova.$invalid }">
							<label class="control-label" for="prova">Prova*</label> <select
								name="prova" class="form-control"
								ng-model="treinamentoECtrl.item.prova"
								ng-options="prova as prova.assunto for prova in treinamentoECtrl.provas track by prova.assunto"
								required>
								<option value="">Selecione</option>
							</select>


							<div
								ng-show="treinamentoForm.$submitted && treinamentoForm.prova.$invalid"
								class="help-block">Prova é requerida.</div>
						</div>
					</div>
					<div class="col-lg-4">
						<!-- Prazo -->
						<div class="form-group has-feedback"
							ng-class="{ 'has-error': treinamentoForm.$submitted && treinamentoForm.prova.$invalid }">
							<label class="control-label" for="prova">Tempo máximo em
								dias*</label> <input name="tempo" class="form-control" type="number"
								ng-model="treinamentoECtrl.item.tempoTreinamento" required>
							</input>


							<div
								ng-show="treinamentoForm.$submitted && treinamentoForm.tempo.$invalid"
								class="help-block">Tempo do treinamento é requerido.</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<!-- Provas -->
						<div class="form-group has-feedback"
							ng-class="{ 'has-error': treinamentoForm.$submitted && treinamentoForm.nivel.$invalid }">
							<label class="control-label" for="prova">Nível*</label> <select
								name="nivel" class="form-control"
								ng-model="treinamentoECtrl.item.nivel"
								ng-options="nivel as nivel.descricao for nivel in treinamentoECtrl.niveis track by nivel.descricao"
								required>
								<option value="">Selecione</option>
							</select>


							<div
								ng-show="treinamentoForm.$submitted && treinamentoForm.prova.$invalid"
								class="help-block">Nível é requerido.</div>
						</div>
					</div>
				</div>
			</div>

			<div class="box box-primary"
				ng-class="{ 'panel-danger has-error': (treinamentoForm.$submitted && !treinamentoECtrl.item.conteudos.length > 0) || !treinamentoECtrl.temConteudo}">
				<div class="box-header with-border">
					<h3 class="box-title">Adicionar Conteúdo</h3>
				</div>

				<div class="row box-topic">
					<div class="col-md-12">
						<div class="form-group">
							<input name="cont_descricao"
								ng-model="treinamentoECtrl.conteudo.descricao" type="text"
								class="form-control" placeholder="Descrição conteúdo" />
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="form-group">
							<input name="link" ng-model="treinamentoECtrl.conteudo.link"
								type="text" class="form-control" placeholder="Link conteúdo" />
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label class="radio-inline"><input type="radio"
								name="tipoVideo" ng-model="treinamentoECtrl.conteudo.tipo"
								id="rbTipoVideo" value="VIDEO" checked>Vídeo</label> <label
								class="radio-inline"><input type="radio"
								ng-model="treinamentoECtrl.conteudo.tipo" name="tipoDoc"
								id="rbTipoDoc" value="DOCUMENTO">Documento</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<button class="btn btn-primary" type="button"
							ng-disabled="!(treinamentoECtrl.conteudo.descricao && treinamentoECtrl.conteudo.link && treinamentoECtrl.conteudo.tipo)"
							ng-click="treinamentoECtrl.adicionarConteudo()">Adicionar</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="well sge-well-position"
							ng-show="!treinamentoECtrl.item.conteudos.length"
							ng-class="{ 'sge-well-error': (treinamentoForm.$submitted && !treinamentoECtrl.item.conteudos.length > 0) || !treinamentoECtrl.temConteudo}">
							Nenhum conteúdo adicionado.</div>

						<table class="table"
							ng-show="treinamentoECtrl.item.conteudos.length">
							<thead>
								<tr>
									<th width="15%">#</th>
									<th width="45%">Descrição</th>
									<th width="20%">Tipo</th>
									<th width="50%">Link</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="conteudo in treinamentoECtrl.item.conteudos">
									<td>
										<button type="button" title="Remover" data-toggle="tooltip"
											ng-click="treinamentoECtrl.removeConteudo(conteudo)"
											class="btn btn-xs btn-danger" access="ROLE_ADMINISTRATORS">
											<i class='fa fa-trash'></i>
										</button>
									</td>
									<td>{{conteudo.descricao}}</td>
									<td>{{conteudo.tipo}}</td>
									<td>{{conteudo.link}}</td>
								</tr>
							</tbody>

						</table>
						<div
							ng-show="(treinamentoForm.$submitted && !treinamentoECtrl.item.conteudos.length > 0) || !treinamentoECtrl.temConteudo"
							class="sge-txt-danger">No mínimo um conteúdo deve ser
							adicionado</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit"
					value="{{treinamentoECtrl.isEdited() ? 'Alterar':'Salvar' }}" />
				<button class="btn btn-warning" type="button"
					ng-click="treinamentoECtrl.cancelar()">Cancelar</button>
			</div>
		</form>
	</div>
</div>

