<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="login-logo">
    			<b>SGE</b> HYPERACTIVE JR</a>
  			</div>
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Efetuar Login</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="loginCtrl.error" class="alert alert-danger">{{loginCtrl.error}}</div>
                    <form name="loginForm" role="form" ng-submit="loginForm.$valid && loginCtrl.doLogin()" novalidate>
                        <fieldset>
                            <div class="form-group" ng-class="{ 'has-error': loginForm.$submitted && loginForm.login.$invalid }">
                                <input id="tLogin" class="form-control" ng-model="loginCtrl.usuario.login" placeholder="Usuário" name="login" type="text" autofocus required>
                                <div ng-show="loginForm.$submitted && loginForm.login.$invalid" class="help-block">
                                  Nome do Usuário é Requerido
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': loginForm.$submitted && loginForm.senha.$invalid }">
                                <input id="tSenha" class="form-control" ng-model="loginCtrl.usuario.senha" placeholder="Senha" name="senha" type="password" required>
                                <div ng-show="loginForm.$submitted && loginForm.senha.$invalid" class="help-block">
                                  Senha é Requerida
                                </div>
                            </div>
                            <div class="checkbox icheck">
                                <label>
                                    <input icheck id="rememberme" name="remember-me" type="checkbox" ng-value="remember-me" ng-model="loginCtrl.remember"> Lembre-me
                                </label>
                            </div>
                            <input id="btnLogin" type="submit" class="btn btn-lg btn-primary btn-block" value="Login"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>