<div class="row">
	<div class="col-lg-12">
		<div class="dataTable_wrapper">
			<p>
				<button type="button" class="btn btn-primary"
					ng-click="nivelCtrl.adicionarItem()" access="ROLE_ADMINISTRATORS">Novo
					Nível</button>
			</p>
			<table datatable="ng" dt-options="nivelCtrl.dtOptions"
				dt-column-defs="nivelCtrl.dtColumnDefs"
				class="table table-striped table-bordered table-hover" id="dtNivel">
				<thead>
					<tr>
						<th width="8%">Ações</th>
						<th width="15%">id</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeX" ng-repeat="nivel in nivelCtrl.niveis">
						<td>
							<button type="button" ng-click="nivelCtrl.editarItem(nivel)"
								class="btn btn-xs btn-default" access="ROLE_ADMINISTRATORS">
								<i class='fa fa-edit'></i>
							</button>
						</td>
						<td>{{nivel.id}}</td>
						<td>{{nivel.descricao}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
