<div class="modal-header">
	<button type="button" ng-click="nivelMCtrl.cancelar()" class="close"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{nivelMCtrl.titulo}}</h4>
</div>
<form name="nivelForm"
	ng-submit="nivelForm.$valid && nivelMCtrl.salvar()" role="form"
	novalidate>

	<div class="modal-body" id="modal-body">
		<div class="form-group"
			ng-class="{ 'has-error': nivelForm.$submitted && nivelForm.descricao.$invalid }">

			<label class="control-label" for="tDescricaoNivel">Descrição*</label>

			<input name="descricao" ng-model="nivelMCtrl.item.descricao"
				type="text" class="form-control" placeholder="Descrição" autofocus
				required />

			<div ng-show="nivelForm.$submitted && nivelForm.descricao.$invalid"
				class="help-block">Descrição é Requerida</div>
		</div>

	</div>
	<div class="modal-footer">
		<input class="btn btn-primary" type="submit" value="Salvar" />
		<button class="btn btn-warning" type="button"
			ng-click="nivelMCtrl.cancelar()">Cancelar</button>
	</div>
</form>
<div class="overlay" ng-show="nivelMCtrl.loading">
	<i class="fa fa-refresh fa-spin"></i>
</div>
