<div class="row">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Dados do colaborador</h3>
			</div>

			<div class="row box-topic">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<label>Matrícula </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div>{{admissaoCtrl.aluno.matricula}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<label>Nome </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div>{{admissaoCtrl.aluno.nome}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Níveis</h3>
			</div>
			<div class="row box-topic">
				<div class="row">
					<form name="frmAddNivel"
						ng-submit="frmAddNivel.$valid && admissaoCtrl.adicionarNivel()"
						novalidate>
						<div class="input-group margin">
							<select name="nivel" required
								ng-model="admissaoCtrl.nivelSelecionado" class="form-control"
								type="text"
								ng-options="nivel.descricao for nivel in admissaoCtrl.niveis">
							</select>
							<div class="input-group-btn">
								<button class="btn btn-primary" type="submit">Adicionar
									Nível</button>
							</div>
						</div>
					</form>
				</div>
				<div class="row box-topic">
					<div class="col-lg-12">


						<table class="table">
							<thead>
								<tr>
									<th width="70%">Descrição</th>
									<th width="10%">Prazo</th>
									<th width="10%">Finalizado</th>
									<th width="8%"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="nivelAluno in admissaoCtrl.aluno.niveis">

									<td>{{nivelAluno.nivel.descricao}}</td>
									<td>{{nivelAluno.prazoConclusao | date : "dd/MM/yyyy"}}</td>
									<td><span ng-class="{'label label-danger': !nivelAluno.concluido, 
										'label label-success': nivelAluno.concluido}">{{nivelAluno.concluido? 'Sim': 'Não'}}</span>
									</td>
									<td><button
										type="button" ng-click="admissaoCtrl.excluirNivel(nivelAluno)"
										class="btn btn-xs btn-default">
										<i class='fa fa-trash'></i>
									</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Admissões</h3>
			</div>
			<div class="row box-topic">
				<div class="col-lg-12">
					<div class="row">
						<button class="btn btn-primary"
							ng-click="admissaoCtrl.adicionarItem()"
							ng-class="{disabled: !admissaoCtrl.exibirAdicao}">Nova
							Admissão</button>
					</div>
					<br>
					<div class="row">
						<div class="dataTable_wrapper"
							ng-show="admissaoCtrl.aluno.admissoes.length">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Data de Início</th>
										<th>Data de Término</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd gradeX"
										ng-repeat="admissao in admissaoCtrl.aluno.admissoes">
										<td>{{admissao.dataInicio | date : "dd/MM/yyyy"}}</td>
										<td>{{admissao.dataTermino | date : "dd/MM/yyyy"}}</td>
										<td>
											<button type="button"
												ng-click="admissaoCtrl.editarItem(admissao)"
												class="btn btn-xs btn-default">
												<i class='fa fa-edit'></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="well sge-well-position"
							ng-show="!admissaoCtrl.aluno.admissoes.length">Nenhuma
							Admissão efetuada.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
