<div class="modal-header">
  <button type="button" ng-click="admissaoMCtrl.cancelar()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{admissaoMCtrl.titulo}}</h4>
</div>
<form name="admissaoForm" ng-submit="admissaoForm.$valid && admissaoMCtrl.salvar()" role="form" novalidate>
  <div class="modal-body" id="modal-body">
    <div class="form-group col-sm-6" ng-class="{ 'has-error': admissaoForm.$submitted && admissaoForm.dataInicio.$invalid }">
      <label class="control-label" for="tDadaInicio">Data de Início*</label>
      <div class="input-group">
        <input id="tDadaInicio" date-before="admissaoMCtrl.item.dataTermino" date-or-equals="true" is-open="admissaoMCtrl.dtpk1" name="dataInicio" uib-datepicker-popup="dd/MM/yyyy" ng-model="admissaoMCtrl.item.dataInicio" type="text" class="form-control" autofocus required/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="admissaoMCtrl.abrirData(1)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      <div ng-show="admissaoForm.$submitted && admissaoForm.dataInicio.$invalid && !admissaoForm.dataInicio.$error.dateBefore" class="help-block">
        Data de Início é Requerida
      </div>
      <div ng-show="admissaoForm.$submitted && admissaoForm.dataInicio.$error.dateBefore" class="help-block">
        Data de Início deve ser menor que data término
      </div>
    </div>
    <div class="form-group col-sm-6" ng-class="{ 'has-error': admissaoForm.$submitted && admissaoForm.dataTermino.$invalid }">
      <label class="control-label" for="tDadaTermino">Data Término</label>
      <div class="input-group">
        <input id="tDadaTermino" date-after="admissaoMCtrl.item.dataInicio" date-or-equals="true" is-open="admissaoMCtrl.dtpk2" name="dataTermino" uib-datepicker-popup="dd/MM/yyyy" ng-model="admissaoMCtrl.item.dataTermino" type="text" class="form-control"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="admissaoMCtrl.abrirData(2)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      <div ng-show="admissaoForm.$submitted && admissaoForm.dataTermino.$error.dateAfter" class="help-block">
        Data de Término deve ser maior que data início
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input class="btn btn-primary" type="submit" value="Salvar"/>
    <button class="btn btn-warning" type="button" ng-click="admissaoMCtrl.cancelar()">Cancelar</button>
  </div>
</form>
<div class="overlay" ng-show="admissaoMCtrl.loading">
  <i class="fa fa-refresh fa-spin"></i>
</div>
