<div class="row">
	<div class="col-lg-12">
		<div class="dataTable_wrapper">
			<p>
				<button type="button" class="btn btn-primary" access-view="ROLE_ADMINISTRATORS"
					ng-click="demandaCtrl.adicionarItem()">Nova
					Demanda</button>
			</p>
			<table datatable="ng" dt-options="demandaCtrl.dtOptions"
				dt-column-defs="demandaCtrl.dtColumnDefs"
				class="table table-striped table-bordered table-hover"
				id="dtDemanda">
				<thead>
					<tr>
						<th access-view="ROLE_ADMINISTRATORS">Ações</th>
						<th>id</th>
						<th>Descrição</th>
						<th>Status</th>						
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeX" ng-repeat="demanda in demandaCtrl.demandas">
						<td access-view="ROLE_ADMINISTRATORS">
							<button type="button" ng-click="demandaCtrl.editarItem(demanda)"
								class="btn btn-xs btn-default">
								<i class='fa fa-edit'></i>
							</button>
						</td>
						<td>{{demanda.id}}</td>
						<td>{{demanda.descricao}}</td>
						<td>{{demanda.status | status}}</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
