<div class="modal-header">
	<button type="button" ng-click="demandaMCtrl.cancelar()" class="close"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{demandaMCtrl.titulo}}</h4>
</div>
<form name="demandaForm"
	ng-submit="demandaForm.$valid && demandaMCtrl.salvar()" role="form"
	novalidate>
	<div class="modal-body" id="modal-body">
		<div class="form-group col-sm-12"
			ng-class="{ 'has-error': demandaForm.$submitted && demandaForm.descricao.$invalid }">
			<label class="control-label" for="tDescricaoDemanda">Descrição*</label>
			<input name="descricao" ng-model="demandaMCtrl.item.descricao"
				type="text" class="form-control" placeholder="Descrição" autofocus
				required />
			<div
				ng-show="demandaForm.$submitted && demandaForm.descricao.$invalid"
				class="help-block">Descrição é Requerida</div>
		</div>
		<div class="form-group col-sm-6"
			ng-class="{ 'has-error': demandaForm.$submitted && demandaForm.status.$invalid }">
			<label class="control-label" for="cbStatusDemanda">Status*</label> <select
				id="cbStatusDemanda" name="status"
				ng-model="demandaMCtrl.item.status" type="text" class="form-control"
				required>
				<option ng-repeat="transicao in demandaMCtrl.item.transicoes"
					value="{{transicao}}">{{transicao | status}}</option>
			</select>
			<div ng-show="demandaForm.$submitted && demandaForm.status.$invalid"
				class="help-block">Status é Requerido</div>
		</div>
		<div class="form-group col-sm-6"
			ng-class="{ 'has-error': demandaForm.$submitted && demandaForm.estimativa.$invalid }">
			<label class="control-label" for="tEstimativa">Estimativa em
				Meses</label> <input id="tEstimativa" name="estimativa"
				ng-model="demandaMCtrl.item.estimativa" type="text" numbers-only
				class="form-control" ng-required="demandaMCtrl.item.status=='A'" />
			<div
				ng-show="demandaForm.$submitted && demandaForm.estimativa.$invalid"
				class="help-block">Estimativa Necessária para Aprovação</div>
		</div>
		<div class="form-group col-sm-6"
			ng-class="{ 'has-error': demandaForm.$submitted && demandaForm.dataInicio.$invalid }">
			<label class="control-label" for="tDadaInicio">Data de Início</label>
			<div class="input-group">
				<input id="tDadaInicio" date-before="demandaMCtrl.item.dataTermino"
					date-or-equals="true" is-open="demandaMCtrl.dtpk1"
					name="dataInicio" uib-datepicker-popup="dd/MM/yyyy"
					ng-model="demandaMCtrl.item.dataInicio" type="text"
					class="form-control" ng-required="demandaMCtrl.item.status=='E'" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="demandaMCtrl.abrirData(1)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
			<div
				ng-show="demandaForm.$submitted && demandaForm.dataInicio.$invalid  && !demandaForm.dataInicio.$error.dateBefore"
				class="help-block">Data de Início Requerida</div>
			<div
				ng-show="demandaForm.$submitted && demandaForm.dataInicio.$error.dateBefore"
				class="help-block">Data de Início deve ser menor que data
				término</div>
		</div>
		<div class="form-group col-sm-6"
			ng-class="{ 'has-error': demandaForm.$submitted && demandaForm.dataTermino.$invalid }">
			<label class="control-label" for="tDadaTermino">Data Término</label>
			<div class="input-group">
				<input id="tDadaTermino" is-open="demandaMCtrl.dtpk2"
					date-after="demandaMCtrl.item.dataInicio" date-or-equals="true"
					name="dataTermino" uib-datepicker-popup="dd/MM/yyyy"
					ng-model="demandaMCtrl.item.dataTermino" type="text"
					class="form-control" ng-required="demandaMCtrl.item.status=='E'" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="demandaMCtrl.abrirData(2)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
			<div
				ng-show="demandaForm.$submitted && demandaForm.dataTermino.$invalid && !demandaForm.dataTermino.$error.dateAfter"
				class="help-block">Data de Término Requerida</div>
			<div
				ng-show="demandaForm.$submitted && demandaForm.dataTermino.$error.dateAfter"
				class="help-block">Data de Término deve ser maior que data
				início</div>
		</div>
		<div class="form-group">
			<label>Documento de Visão</label> <input
				ng-model="demandaMCtrl.item.arquivo" type="file">
		</div>
	</div>
	<div class="modal-footer">
		<input class="btn btn-primary" type="submit" value="Salvar" />
		<button class="btn btn-warning" type="button"
			ng-click="demandaMCtrl.cancelar()">Cancelar</button>
	</div>
</form>
<div class="overlay" ng-show="demandaMCtrl.loading">
	<i class="fa fa-refresh fa-spin"></i>
</div>
